[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggsky"]
	path = ggsky
	url = https://github.com/uskovgs/ggsky
[submodule "panstarrs"]
	path = panstarrs
	url = https://github.com/uskovgs/panstarrs
